<%= render 'navigation' %>
<br>
<div class="container">
  <div class="row">
  
  <div class="col-xl-12 text-center m-0"><br><br><b class="PROJECT">PROJECT </b><b class="LIST">LIST</b></div>
  <div class="col-xl-12 text-center m-0"><b class="CLAPPING">CLAPPING</b><b class="APE">APE</b></div>

  <div class="table-responsive rounded shadow ">
    <table role="table" class="table-hover">
      <thead class="header bg-warning" >
        <tr>
          <th role="columnheader" class="text-center">Clients</th>
          <th role="columnheader" class="text-center">Projects</th>
          <th role="columnheader" class="text-center">Staging url</th>
          <th role="columnheader" class="text-center">Production url</th>
          <th role="columnheader" class="text-center">Username</th>
          <th role="columnheader" class="text-center">Password</th>
        </tr>
      </thead>
        <tbody role="rowgroup">
          <% @clients.each do |client| %>
          
            <tr >
              <td role="cell" class="text-center">
                <div class="row m-0" >
                  <a class="col-10" ><%= client.name %></a>
                </div>
              </td> 
              <td role="cell" class="text-center">
                <% client.projeks.each do |pj| %>
                  <div class="row m-0" >
                    <a class="col-10" ><%= pj.name %></a><br>
                  </div>
                <% end %>
              </td>
              <td role="cell" class="text-center">
                <% client.projeks.each do |pj| %>
                  <div class="row m-0">
                    <a class="col-10" href="<%= pj.staging_url %>"><%= pj.staging_url %></a><br>  
                  </div>             
                <% end %>
              </td>
              <td role="cell" class="text-center">
                <% client.projeks.each do |pj| %>
                  <div class="row m-0">
                    <a class="col-10" href="<%= pj.production_url %>"><%= pj.production_url %></a><br> 
                  </div>
                <% end %>
              </td>
              <td role="cell" class="text-center">
                <% client.projeks.each do |pj| %>
                  <div class="row m-0">
                    <a class="col-10"><%= pj.username %></a><br> 
                  </div>
                <% end %>
              </td>
              <td role="cell" class="text-center">
                <% client.projeks.each do |pj| %>
                  <div class="row m-0">
                    <a class="col-10"><%= pj.password %></a><br> 
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>  
  </span>
     
      

  
    