<%= render 'navigation' %>

<div><br><br></div>

<div class="container">
  <div class="row">
     <div class="col-xl-12 text-center m-0">
                    <b class="CLAPPING">CLAPPING</b><b class="APE">APE</b>               
     </div>
   <table class="table table-bordered table-hover table-responsive ">
    <!-- <table table-striped table-bordered" style="width:100%"> -->
      <thead class="table-warning" >
        <tr>
          <th><div class="label">CLIENT</div></th>
          <th><div class="label">PROJECT</div></th>
          <th><div class="label">STAGING</div></th>
          <th><div class="label">PRODUCT</div></th>
        </tr>
      </thead>
      <tbody>
        <% @clients.each do |client| %>
        <tr>
        <td><%= client.name %></td> 
             
              <td>
                <ul>
                  <% client.projeks.each do |pj| %>
                  <a><%= pj.name %></a><br>
                  <% end %>
                </ul>
              </td>
              <td>
               <ul>
                <% client.projeks.each do |pj| %>
                  <a class="col-10 urlnya" href="<%= pj.staging_url %>"><%= pj.staging_url %></a><br>                  
                  <% end %>
                </ul>
              </td>
              <td>
               <ul>
                <% client.projeks.each do |pj| %>
                <a class="col-10 urlnya" href="<%= pj.production_url %>"><%= pj.production_url %></a><br> 
                  <% end %>
                </ul>
              </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



