<%= render 'navigation' %>
<br>
<div class="col-xl-12 text-center m-0"><b class="CLAPPING">CLAPPING</b><b class="APE">APE</b></div>
<div class="col-xl-12 text-center m-0"><b class="PROJECT">PROJECT </b><b class="LIST">LIST</b></div>

<div class="container">
  <div class="rows">



  <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">
<br>
						<div class="row header">
							<div class="cell">CLIENT</div>
                            <div class="cell">PROJECT</div>
                            <div class="cell">STAGING</div>
                            <div class="cell">PRODUCTION</div>
						</div>


          <% @clients.each do |client| %>
            <div class="row">
              <div class="cell" data-title="CLIENT">
                <%= client.name %>
              </div>
              <div class="cell" data-title="PROJECT">
                <% client.projeks.each do |pj| %>
                  <div class="row m-0" >
                    <%= pj.name %><br>
                  </div>
                <% end %>
              </div>
              <div class="cell" data-title="STAGING">
                <% client.projeks.each do |pj| %>
                  <div class="row m-0">
                    <a class="col-10" href="<%= pj.staging_url %>"><%= pj.staging_url %></a><br>
                  </div>
                <% end %>
              </div>
              <div class="cell" data-title="PRODUCTION">
                <% client.projeks.each do |pj| %>
                  <div class="row m-0">
                    <a class="col-10" href="<%= pj.production_url %>"><%= pj.production_url %></a><br>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>

      </div>
		</div>
	</div>
  </span>
