<<<<<<< HEAD
<body>
  <br>
  <div class="rows m-0">
    <div class="col-9 logo1 text-right">CLAPPING</div><div class="col-3 logo2">APE</div>
  </div>

  <div class="kotak1">
    <div class="logo3">CAP.IT.ALL.DIG.IT.ALL</div>
  </div>
<div class="kotak2">
	<div class="container">
		  <div class="konten">

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <div class="input-group">

                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control border-left-none border-top-none border-right-none box-shadow-none', placeholder:"Email" %>
                <div class="invalid-feedback">Oops, you missed this one.</div>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">

                <%= f.password_field :password, autocomplete: "current-password", class:'form-control border-left-none border-top-none border-right-none box-shadow-none', placeholder:"Password"%>
                <div class="invalid-feedback">Enter your password too!</div>
              </div>
            </div>

            <% if devise_mapping.rememberable? -%>


            <% end -%>
            <div class="actions">
              <%= f.submit "Login", class:'btn btn-rounded float-right'%>
=======
<body class="bg-dark">
  <div class="container py-5">
    <div class="row">
      <div class="col-md">
        <h2 class="text-center text-white mb-2">Login Admin</h2>
        <div class="row">
          <div class="col-md-5 mx-auto">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="card rounded-0 border-warning">
              <div class="card-header bg-warning">
              <h3 class="mb-0 text-white">Login</h3>
>>>>>>> 80aa6a7fa1bf8cede929302c73c691a2fb514ed5
            </div>
          <% end -%>

        </div>


	</div>
</div>

<<<<<<< HEAD
=======
              <div class="actions">
                <%= f.submit "Login", class:'btn btn-success btn-lg float-right'%> 
                </div>
              <% end %>
                <%= render "devise/shared/links"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
>>>>>>> 80aa6a7fa1bf8cede929302c73c691a2fb514ed5
</body>
