<!doctype html>
<html lang="en">
  <head>
    <title>Clapping Ape List Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#FF742C">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'main', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
    <br>
      <div class="text-center">
        <div class="">
          <p class="alert alert-danger"><%= alert %></p>
          <p class="notice"><%= notice %></p>
        </div>
      </div>
  </body>
</html>
